{% extends "layout.html" %}
{% block content %}

<body style="background-color:LightSlateGray;">
<div class="jumbotron bg-dark text-white mt-n3 py-4">
  <div class="container text-center font-weight-bold">
      <h1 class="display-4 bg-dark text-white text-center font-weight-bold" style="font-size:5vw">Python road</h1>
      <p style="padding-bottom: 0; font-size:2.8vw; font-family: Courier New; font-style: italic; "><i>Python back-end developer roadmap</i></p>
  </div>
</div>
  <div class="full-width-image">
 <img src="{{ url_for("static", filename="2.jpg") }}" alt="ops image">
  </div>
</body>
{% endblock content %}