asgiref==3.3.1
attrs==20.3.0
bcrypt==3.1.4
beautifulsoup4==4.9.1
blinker==1.4
boto3==1.16.14
botocore==1.19.14
bs4==0.0.1
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
click==6.7
dnspython==2.0.0
email-validator==1.1.1
Flask==1.0
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
freeze==3.0
gunicorn==20.0.4
idna==2.10
iniconfig==1.1.1
itsdangerous==0.24
Jinja2==2.10
jmespath==0.10.0
lxml==4.5.2
MarkupSafe==1.1.1
numpy==1.18.4
packaging==20.4
Pillow==8.0.1
pluggy==0.13.1
psycopg2==2.8.6
py==1.9.0
pycparser==2.18
pycryptodome==3.9.9
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.0
s3transfer==0.3.3
secret==0.8
six==1.11.0
soupsieve==2.0.1
SQLAlchemy==1.2.7
sqlparse==0.4.1
tabulate==0.8.7
toml==0.10.2
urllib3==1.25.10
Werkzeug==0.14.1
WTForms==2.1
